

.header {
    height: 75px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        position: fixed;
        top: 0px;
        background-color: #fff;
        left: 0px;
        z-index: 20;
    }
    &__logo {
        cursor: pointer;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: #FFED00;
        width: 200px;
        height: 42px;
        color: #000;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        &_img {

            width: 55px;
            margin-right: 40px;
            height: 55px;
        }
    }
}