ul {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    list-style: none;
}

ol {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: left; */
    list-style: none;
}

li {
    margin-right: 30px;
}